firmware/nbproject
firmware/.generated_files
firmware/Makefile.conf
firmware/Makefile.dbgsyms
firmware/Makefile
firmware/*.o
firmware/*.d
firmware/*.hex
firmware/*.elf

firmware/tools/debugConsole
firmware/tools/*.o

PCB/fp-info-cache
PCB/*.net
PCB/\#auto_saved_files\#
PCB/_autosave-*
PCB/*.kicad_prl
PCB/*.kicad_pro
PCB/*.lck
